@import "../../palette.scss";

.HeaderContainer {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 75px;
  top: 0;
  left: 0;
  z-index: 1000;
  box-sizing: border-box;
  padding: 10px;
  background: linear-gradient(
    to right,
    $accent,
    adjust_hue(darken($accent, 5%), -10deg)
  );
}

.HeaderLogo {
  height: 50px;
}

.HeaderHeading {
  color: white;
  font-size: 40px;
  font-weight: 300;
  user-select: none;
}

.HeaderNav {
  margin-left: 20px;

  & > * + * {
    margin-left: 15px;
  }
}

.HeaderLink {
  display: inline-block;
  color: white;
  font-size: 20px;
  text-decoration: none;
  position: relative;
  transition: color 0.2s;
  padding: 5px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    background: currentColor;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    transition: transform 0.1s;
  }

  &:hover {
    &::after {
      transform: scaleX(1);
    }
  }

  &:focus {
    outline-width: 2px;
    outline-style: solid;
  }
}

.HeaderSearch {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: white;
}

.HeaderSearchIcon {
  max-width: 16px;
}

.HeaderSearchInput {
  background: none;
  margin-left: 5px;
  border-bottom: 2px solid;
  width: 200px;

  &::placeholder {
    color: transparentize($dark, 0.25);
  }

  &[type="search"]:hover {
    border-color: transparentize($dark, 0.25);
  }
}
