.AppContainer {
  position: absolute;
  z-index: 1000;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  background: white;
  max-width: 500px;
}

.AppContent {
  padding: 20px;
}

.leaflet-container {
  width: 100%;
  top: 75px;
  height: calc(100vh - 75px);
}
