.AppContainer {
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  min-width: 250px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.AppContent {
  padding: 40px 20px;
  background: white;
  display: flex;
  flex-direction: column;
}

.leaflet-container {
  width: 100%;
  top: 75px;
  height: calc(100vh - 75px);
}
