@import "./reset.scss";

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700");

body {
  background: #eee;
  color: #111;
  font-family: "Source Sans Pro", sans-serif;
}
