.Settings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SettingsHeading {
  font-size: 40px;
  font-weight: 300;
  align-self: flex-start;
}

.RadioGroup {
  margin-top: 10px;
  h3 {
    font-size: 20px;
  }
}

.RadioGroupRadios {
  margin-top: 10px;
  display: flex;
  flex-direction: column;

  & > * + * {
    margin-top: 10px;
  }
}
